{% load static %}

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'game_solver/style.css' %}">

<h1>A Super Fabulous Sudoku Solver</h1>
<p class="italic">Written by Elizabeth Locke</p>
<div class="main-button">
	<a href="{% url 'game_solver:new' %}">
		<button>
			Solve a New Puzzle
		</button>
	</a>
</div>
<h2>Recently Solved Puzzles</h2>
{% if latest_games %}
    <div class="games-list">
	<div class="flex-title">
		<div>Input Puzzle</div>
		<div>Solution</div>
		<div>Detail View</div>
	</div>
    {% for game in latest_games %}
    <div class="flex-container">
		<div>
			<table>
			{% for line in game.inputArray %}
			<tr>
			{% for letter in line %}
			<td>
			{{letter}}
			</td>
			{% endfor %}
			</tr>
			{% endfor %}
			</table>
		</div>
		<div>
			<table>
			{% for line in game.outputArray %}
			<tr>
			{% for letter in line %}
			<td>
			{{letter}}
			</td>
			{% endfor %}
			</tr>
			{% endfor %}
			</table>
		</div>
		<div>
			<a href="{% url 'game_solver:detail' game.id  %}">View Larger >></a>
		</div>
    </div>
    {% endfor %}
    </div>
{% else %}
    <p>You don't have any games yet.</p>
{% endif %}
