body {
	color: grey;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}


button, .button {
    padding: 5px 10px;
    background-color: #A20A20;
    border: none;
	border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.main-cta,
div.return-btn {
    padding: 15px 32px;
	margin:50px;
}

h1 {
	padding-top: 25px;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2 {
	margin-top: 25px;
}

textarea,
select,
input,
button {
	outline: none;
}

.subtitle {
	padding: 10px;
	margin: 0;
}

.italic {
	font-style: italic;
}

.left{
	text-align: left;
}

.flex-title,
.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.flex-title div,
.flex-container div {
	flex:1;
	text-align: center;
}

.flex-container div {
	padding-top: 1em;
}

.flex-title {
	font-size: 150%;
	background: #f1f1f1;
}

table {
	margin: 0 auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid grey;
}

td {
	height: 20px;
	width: 15px;
	text-align: center;
}


table.detail td {
	height: 50px;
	width: 40px;
	font-size: 120%;
}

ul.errorlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #A20A20;
	font-style: italic;
	font-size: 150%;
	width: 100%;
}
a:link,
a:visited,
a:hover,
a:active{
	color: #A20A20;
	font-weight: bold;
	text-decoration: none;
}
label {
	display: block;
	padding-bottom: 20px;
}

input[type=text]{
	width: 85%;
	margin: 2px;
	height:28px;
	border: 1px solid grey;
	border-radius: 10px;
}
